h1 {
    color: darkblue;
}

.hidden {
    display: none;
}

header {
    background-color: grey;
}

body {
    background-repeat: no-repeat;
}

.logo {
    width: 25px;
    height: 25px;
}

.gameChoice {
    width: 80px;
    height: 80px;
}

.center {
    width: 25%;
    margin: 50% auto auto;
    text-align: center;
}

#back {
    height: 50px;
}

#timer {
    color: darkred;
}

#computer {
    margin-top: 5%;
    margin-bottom: 5%;
    border: groove black;
    color: red;
}

#displayName {
    color: blueviolet;
    font-family: "Comic Sans MS", serif;
}
